__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*.csv
*.xlsx
*.txt
data/
.env
*.pb
vehicle_positions_data/
raw_data/
debug_jsons/
*.html
.vscode/
.ipynb_checkpoints/